body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #333;
}

.file {
    display: block;
    margin-top: 10px;
}

.up {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.index-vedio{
    width: 830px;
    height: 460px;
    margin: 50px auto;
}